---
import Layout from '../layouts/Layout.astro';

// Componentes
import Toolbar from '@/shared/toolbar.astro';
import Carrusel from '@/IndexSections/Carrusel.astro';
import KeepWatching from '@/IndexSections/KeepWatching.astro';
import SpanishTops from '@/IndexSections/SpanishTops.astro';
import TerrorSection from '@/IndexSections/TerrorSection.astro';
import ComedySection from '@/IndexSections/ComedySection.astro';
import ThrillerSection from '@/IndexSections/ThrillerSection.astro';
import LoveSection from '@/IndexSections/LoveSection.astro';
---

<Layout title="Xeiflix">
	<Toolbar />
	<main>
		<h1 class="mt-5 text-white font-light">Xeiflix, tu streaming en remoto</h1>
		<Carrusel />
		<KeepWatching />
		<SpanishTops />
		<TerrorSection />
		<ComedySection />
		<ThrillerSection />
		<LoveSection />
	</main>
</Layout>
