<section class="mt-9">
<h1>Aquí iría el carrusel de fotos con tailwind.</h1>
<ul>
  <li>- peaky blinders, rick y morty, shutter island</li>
  <li>- Estaría guay que se pudieran pasar solas</li>
</ul>

</section>
