<section class="mt-9">
  <div class="w-11/12 mx-auto">
  <!-- Cada película debería ser clickeable, y que eso me lleve una vista -->
  <!-- Lo suyo sería hacerlo con un mock de datos o consumir una bd -->
    <h2 class=" mx-auto text-white">Comedia</h2>
    <div class="border-b-2 mx-auto text-center"></div>
    <div>
      <div class="flex mt-4">
        <div class="flex items-center">
          <div class="overflow-x-auto flex">
            <img class="w-48 m-4" src="https://estaticos-cdn.prensaiberica.es/clip/38cbe9ca-1435-487a-b5ef-f7389917ba66_woman-libre-1200_default_0.jpg" alt="SDP" class="w-full h-auto">
            <img class="w-48 m-4" src="https://www.ecartelera.com/carteles/16700/16762/002_m.jpg" alt="Descarrilados" class="w-full h-auto">
            <img class="w-48 m-4" src="https://hips.hearstapps.com/es.h-cdn.co/crfes/images/ninos/ocio/peliculas-para-ver-en-familia/no-se-aceptan-devoluciones/3633467-1-esl-ES/No-se-aceptan-devoluciones.jpg" alt="NSAD" class="w-full h-auto">
            <img class="w-48 m-4" src="https://i.pinimg.com/originals/6d/71/7d/6d717d567a057c6ae5df595b8bfa1561.jpg" alt="LDMEF" class="w-full h-auto">
            <img class="w-48 m-4" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/12/infiltrados-universidad.jpg?tf=3840x" alt="InfiltradosUni" class="w-full h-auto">
            <img class="w-48 m-4" src="https://www.ecartelera.com/carteles/4100/4173/001_m.jpg" alt="SiguemeElRollo" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/14/03/06/09/44/283111.jpg" alt="ScaryMovie" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/c_310_420/medias/nmedia/18/69/37/46/19152941.jpg" alt="HazmeReir" class="w-full h-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>