<section class="mt-9">
  <div class="w-11/12 mx-auto">
  <!-- Cada película debería ser clickeable, y que eso me lleve una vista -->
  <!-- Lo suyo sería hacerlo con un mock de datos o consumir una bd -->
    <h2 class=" mx-auto text-white">Seguir Viendo</h2>
    <div class="border-b-2 mx-auto text-center"></div>
    <div>
      <div class="flex mt-4">
        <div class="flex items-center">
          <div class="overflow-x-auto flex">
            <img class="w-48 m-4" src="https://www.ecartelera.com/carteles-series/200/271/004_p.jpg" alt="Image 1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/18/10/31/17/34/2348073.jpg" alt="Image 1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://www.normaeditorial.com/blog/wp-content/uploads/2016/01/Historias_Corrientes_1-Portada-669x1024.jpg" alt="Image 1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/13/12/04/16/18/394160.jpg" alt="Image 1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://pics.filmaffinity.com/True_Detective_Miniserie_de_TV-799068355-large.jpg" alt="Image 1" class="w-full h-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>