<section class="mt-9">
  <div class="w-11/12 mx-auto">
  <!-- Cada película debería ser clickeable, y que eso me lleve una vista -->
  <!-- Lo suyo sería hacerlo con un mock de datos o consumir una bd -->
    <h2 class=" mx-auto text-white">Terror</h2>
    <div class="border-b-2 mx-auto text-center"></div>
    <div>
      <div class="flex justify-center mt-4">
        <div class="flex items-center">
          <div class="overflow-x-auto flex">
            <img class="w-48 m-4" src="https://pics.filmaffinity.com/Expediente_Warren_The_Conjuring-620173458-large.jpg" alt="EW1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://pics.filmaffinity.com/Expediente_Warren_El_caso_Enfield-489921396-large.jpg" alt="EW2" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/21/04/27/15/46/4033084.jpg" alt="EW3" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/14/08/28/11/22/474253.jpg" alt="Anabell1" class="w-full h-auto">
            <img class="w-48 m-4" src="https://media.vogue.es/photos/5d2782a1695efa000881bb80/2:3/w_2560%2Cc_limit/ANNABELLE%2520VUELVE%2520A%2520CASA%2520MAIN.jpg" alt="Anabell2" class="w-full h-auto">
            <img class="w-48 m-4" src="https://hips.hearstapps.com/hmg-prod/images/images-5-1666767062.jpeg?crop=1xw:0.9986111111111111xh;center,top&resize=980:*" alt="Abuela" class="w-full h-auto">
            <img class="w-48 m-4" src="https://hips.hearstapps.com/hmg-prod/images/poster-peliculas-terror-2019-doctor-sueno-1578395574.jpg" alt="Dr.Sleep" class="w-full h-auto">
            <img class="w-48 m-4" src="https://es.web.img3.acsta.net/pictures/23/01/23/16/41/0617610.jpg" alt="InfernalPosession" class="w-full h-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>