---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource/inknut-antiqua';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Xeiflix, la plataforma de streaming menos popular" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Inknut Antiqua', system-ui, sans-serif;
		background: #1C1C1C;
		color: #fff;
	}
</style>
